<div class="cart">
    <h2>Your cart</h2>

    <div *ngIf="(items$ | async) as items">


        <div *ngIf="items.length ===0">
            <p>Cart is empty</p>
        </div>

        <div class="cart-item" *ngFor="let item of items">
            <img [src]="item.product.image" alt="{{item.product.name}}">
            <div class="info">
                <h3>{{item.product.name}}</h3>
                <p>${{item.product.price}}</p>
                <p>Quantity: {{item.quantity}}</p>
            </div>
            <button (click)="remove(item.product.id)">Remove</button>
        </div>

        <div class="total" *ngIf="items.length > 0">
            Total: ${{ getTotal(items) }}
        </div>
        <div class="checkout" *ngIf="items.length > 0">
            <button (click)="goToCheckout()">Proceed to Checkout</button>
        </div>
    </div>
</div>