<footer class="footer">
  <div class="footer-container">

    <div class="footer-section">
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/products">Products</a></li>
        <li><a routerLink="/about">About us</a></li>
        <li><a routerLink="/gallery">Gallery</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Poljoprivredno gazdinstvo Bradić</h3>
      <p>Natural honey products 🍯</p>
      <p>📍 Pačarađa, Serbia</p>
      <p>📞 +381 60 123 4567</p>
      <p>✉️ info@honeyshop.rs</p>
    </div>

    <div class="footer-section map-section">
      <h3>Our location</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1603.2841165550165!2d21.083702859231046!3d43.22837499210166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ssr!2srs!4v1775256253201!5m2!1ssr!2srs" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2026 Honey Shop | All rights reserved</p>
  </div>
</footer>