.hero{
    text-align: center;
    padding: 60px;
    background: #fdebd0;

    button{
        margin-top: 20px;
        padding: 10px 20px;
        background: orange;
        border: none;
        cursor: pointer;
    }
}