.header{
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #f5b041;
    color: white;
    height: 100px;

    .logo{
        img{
            height: 200px;
            width: auto;
            display: block;
        }
    }

    nav {
        display: flex;
        align-items: center;
        gap: 40px;

        a{
            color:white;
            text-decoration: none;
            font-weight: bold;
            position: relative;
            font-size: 20px;
            padding: 5px 0;

            &::after{
                content: '';
                position: absolute;
                width: 0;
                height: 2px;
                background:white;
                left: 0;
                bottom: 0;
                transition: width 0.3s ease;
            }
            &:hover::after{
                width: 100%;
            }
            &:active{
                transform: scale(0.95);
                transition: transform 0.1s;
            }
        }
    }
    .cart-link{
        position: relative;
        display: flex;
        align-items: center;
        background:orange;
        color: white;
        padding: 8px 16px;
        border-radius: 25px;
        font-weight: bold;
        text-decoration: none;
        gap: 6px;
        transition: background 0.2s;
        border: 0.5px solid white;

        &:hover {
            background: #c7673b;
        }
        .cart-icon{
            font-size: 20px;
        }
        .badge{
            position: absolute;
            top: -8px;
            right: -10px;
            background: red;
            color: white;
            font-size: 12px;
            padding: 2px 6px;
            border-radius: 50%;
            font-weight: bold;
        }
    }
}