<header class="header">
    <a href="/" class="logo">
        <img src="/assets/products/logo.png" alt="Honey shop logo">
    </a>

    <nav>
        <a routerLink="/" (click)="scrollTop()">Početna</a>
        <a routerLink="/products" (click)="scrollTop()">Proizvodi</a>
        <a routerLink="/about" (click)="scrollTop()">O nama</a>
        <a routerLink="/gallery" (click)="scrollTop()">Galerija</a>
        <a routerLink="/contact"(click)="scrollTop()">Kontakt</a>

        
        <a routerLink="/cart" class="cart-link">
            <span class="cart-icon">  Korpa🛒  </span>

            <span class="badge" *ngIf="(cartCount$ | async) as count">
                {{count> 100 ? '100+' : count}}
            </span>
        </a>
    </nav>
</header>