<header class="header">
    <a href="/" class="logo">
        <img src="/assets/products/logo.png" alt="Honey shop logo">
    </a>

    <nav>
        <a routerLink="/" (click)="scrollTop()">Home</a>
        <a routerLink="/products" (click)="scrollTop()">Products</a>
        <a routerLink="/about" (click)="scrollTop()">About us</a>
        <a routerLink="/gallery" (click)="scrollTop()">Gallery</a>
        <a routerLink="/contact"(click)="scrollTop()">Contact</a>

        
        <a routerLink="/cart" class="cart-link">
            <span class="cart-icon">Cart🛒</span>

            <span class="badge" *ngIf="(cartCount$ | async) as count">
                {{count> 100 ? '100+' : count}}
            </span>
        </a>
    </nav>
</header>